/* Always set the map height explicitly to define the size of the div * element that contains the map. */
       #middleMap {
        height: 50%;
        min-height: 500px;
        border: solid 10px;
    
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      .hero {
       margin: 0px 0px 40px 0px;
       padding-bottom: 1px;
       padding-top: 60px;
      }

      .title {
        font-family: 'Arvo', serif;
        font-size: 35px;
      }

      .subtitle {
        font-family: 'Abel', sans-serif;
      }

     .container {
      font-family: 'Abel', sans-serif;
      }

      .navbar {
        font-family: 'Abel', sans-serif;
        opacity: .5;
        background: rgb(70, 80, 78);
        border-bottom-color: #00D1B2;
      }

      .footer {
        padding: 20px;
        margin-top: 100px;
        color: rgb(110, 109, 109);
        
      }



   

