/* body {
    background-image: url("../images/background.jpg");
    background-size: cover;
     
 }

 .about {
     color: white;
     font-family: 'Arsenal', sans-serif;
 } */

 #placeholder {
     width: 100%;
 }